@mixin navbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  sd-navbar {
    color: mat-color($primary, default-contrast);
    a {
      color: mat-color($primary, default-contrast);
      text-decoration-line: none;
    }
    .docs-navbar {
      background: mat-color($primary);
    }
  }
}
