.docs-navbar {
  padding: 8px 16px;
  width: 100%;
}

.docs-mean2-logo {
  margin: 0 4px 3px 0;
  height: 24px;
  vertical-align: middle;
}

md-list {
  padding: 3px;
    h3 {
      text-align: center;
      text-transform: uppercase;
    }  
    .secondary-text {
      color: rgba(0, 0, 0, 0.54);
    }  
}