$primary-font: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$nav-button-color: #00838F;
// Common
$md-card-default-padding: 24px 16px 3px !default;
$md-card-mobile-padding: 18px 5px 3px !default;
$md-xsmall: 'max-width: 600px';
//Slide nav
$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;
// Pathway
$md-pathway-font-size: 12px;
$md-pathway-font-color: rgba(0, 0, 0, 0.54);

$md-hint-font-color: rgba(0, 0, 0, 0.54);
