@import 'variables';
@import '@angular/material/theming';
@import '../app/app-theme';

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent:  mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-warn:    mat-palette($mat-red);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent, $indigo-pink-warn);

// Define the light theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($indigo-pink-theme);
@include app-theme($indigo-pink-theme);

/* Reset */
html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $primary-font;
}

/* body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
} */

[md-button], [md-raised-button] {
  text-transform: uppercase;
}

/* h1, h2 {
  weight: 400;
} */

.search-list {
  margin: 10px;
  md-input-container, md-select, button {
    margin: 0 5px;
  }
}

div.item-grid {
  > div {
    width: 100%;
  }

  md-card {
    padding: 0;
    margin: 10px;
    //margin: 0 16px 16px 0;
    //width: 250px;
    // display: flex;
    // flex-direction: column;
  }

  md-card-title-group, md-card-content {
    padding: 16px;
  }

  md-card-title-group {
    img {
      padding: 3px;
    }

    md-card-title {
      font-size: 18px;
      font-weight: 100;
    }
  }

  md-card-footer {
    padding-left: 8px;
  }

}

.btn {
  a {
    width: 100%;
  }
}

.no-record {
  margin-top: 10px;
}

.edit-form {
  .field {
    display: block;
    label {
      width: 100%;
      display: block;
      margin: 3px;
      //position: relative;
      //top: 1px;
    }
    md-checkbox, md-radio-button {
      padding-right: 10px;
    }
  }
  md-input-container, div.field, md-radio-group, md-checkbox, button {margin: 5px}
  md-radio-button {
    margin-right: 10px;
  }
}

.gird-box {
  padding: 0;
  margin: 10px;

  md-card-title-group, md-card-content {
    padding: 16px;
  }

  md-card-title-group {
    img {
      padding: 3px;
    }

    md-card-title {
      font-size: 18px;
      font-weight: 100;
      margin-bottom: 0px;

    }
  }
}

.detail-box {
  dl {
    margin: 3px;
    padding: 0;
    dd {
      display: inline;
    }
    dt{
      display: inline-block;
      min-width: 100px;
      font-weight: bold;
    }
  }

}


.fill {
  flex: 1 1 auto;
  width: 100%;
}

.fill-height {
  display: block;
  height: 20px;
}

