@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  sd-footer {
    .sd-footer {
        background: rgba(mat-color($foreground, secondary-text), .32);
        color: mat-color($primary, default-contrast);        
        a {
          color: mat-color($primary, default-contrast);
        }
    }
  }
}
